################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/WinFormsApp1/WinFormsApp1/obj
/WinFormsApp1/.vs
